:root{
    --font-headings: 'Open Sans', sans-serif;
    --font-main: 'Poppins', sans-serif;
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-main);
}